@model MyBlog.ViewModels.ArticleEditViewModel;

@{
    ViewData["Title"] = "Редактирование статьи";
}

<div class="text-center">
    <h3 class="display-4 fst-italic py-3">Редактирование статьи</h3>
</div>
<div class="row">
    <script src="~/js/ckeditor4/ckeditor.js"></script>

    <!--<form asp-controller="Article" asp-action="Save" method="post">-->
    <form id="editArticleForm">
        <div class="row">
            @foreach (var tag in Model.TagsAll)
            {
                <div class="col-auto mr-2">
                    @if (Model.TagsArticle.Any(t => t.Id == tag.Id))
                    {
                        <input type="checkbox" class="form-check-input" name="TagsList" autocomplete="off"
                       onchange="clickTag(event)" value="@tag.Name" checked>
                    }
                    else
                    {
                        <input type="checkbox" class="form-check-input" name="TagsList" autocomplete="off"
                       onchange="clickTag(event)" value="@tag.Name">
                    }
                    <label class="form-check-label" for="@tag.Name">@tag.Name</label>
                </div>
            }
        </div>
        <div class="mb-3">
            <div>
                <input asp-for="Article.Id" type="hidden" />
                <input asp-for="Article.Published" type="hidden" />
            </div>
            <br />
            <div>
                <h3 class="fst-italiс">Название статьи</h3>
            </div>
            <div>
                <input asp-for="Article.Title" type="text" size="50" value="@Model.Article.Title" />
            </div>
            <br />
            <div>
                <textarea asp-for="Article.Content" id="content"></textarea>
            </div>
            <br />
            <div>
                <!--<input class="btn btn-sm btn-outline-primary" type="submit" value="Сохранить" onclick="updateTags" />-->
                <button type="button" onclick="SaveArticle()" class="btn btn-sm btn-outline-primary">Сохранить</button>
            </div>
        </div>
    </form>
    @if (User.IsInRole("Moderator"))
    {
        <div class="row">
            <div class="col-5">
                <div class="mb-3">
                    <h5>Комментарии к статье</h5>
                </div>
                <hr class="my-2">
                <div id="partial">
                    <partial name="/Views/Comment/_CommentsPartial.cshtml" model="@Model.Comments" />
                </div>
            </div>
            <div class="col-4 ml-5">
                <div class="mb-3">
                    <h5>Редактирование комментария</h5>
                </div>
                <form id="commentForm">
                    <input asp-for="Article.Id" name="articleId" id="articleId" type="hidden" />
                    <input id="CommentId" name="commentId" type="hidden" />
                    <div>
                        <textarea cols="65" rows="2" class="form-control mb-3" id="CommentText" placeholder="Текст комментария" name="commentContent"></textarea>
                    </div>
                    <div>
                        <button type="button" onclick="UpdateComment('Edit')" class="btn btn-sm btn-outline-primary mb-3">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script>
        
    </script>
}

