@model MyBlog.ViewModels.ArticleViewModel

@if (Model != null)
{
    <div class="text-center">
        <h3 class="display-4 fst-italic py-5">@Model.Article.Title</h3>
    </div>
    <div class="flex-md-row">
        <div class="col">
            @foreach (var tag in @Model.TagsArticle)
            {
                <p class="d-inline-block text-primary mr-2">@tag.Name</p>
            }
        </div>
    </div>
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <div class="position-relative">
                <strong class="d-inline-block mb-3 text-primary">@Model.Author.Name</strong>
                <strong class="d-inline-block mb-3 text-success float-end">"@Model.Author.DisplayName"</strong>
            </div>
            <div class="mb-3 text-muted">@Model.Article.Published.ToLongDateString()</div>
            <div>@Html.Raw(@Model.Article.Content)</div>
            <input asp-for="Article.Id" name="articleId" id="articleId" type="hidden" />
        </div>
    </div>
    <div class="col-5">
        <div class="mb-3">
            <h5>Комментарии к статье</h5>
        </div>
        <form id="commentForm">
            <input asp-for="Article.Id" name="articleId" id="articleId" type="hidden" />
            <div>
                <textarea cols="65" rows="2" class="form-control mb-3" id="CommentText" placeholder="Ваш комментарий" name="comment"></textarea>
            </div>
            <div>
                @if (User.IsInRole("User"))
                {
                    <button type="button" onclick="SaveComment()" class="btn btn-sm btn-outline-primary mb-3">Оставить комментарий</button>
                }
                else
                {
                    <button type="button" class="btn btn-sm btn-outline-primary mb-3" disabled>Оставить комментарий</button>
                    <p class="text-muted">(комментарии могут оставлять только зарегистрированные пользователи)</p>
                }
            </div>
        </form>
        <hr class="my-2">
        <div id="partial">
            <partial name="/Views/Comment/_CommentsPartial.cshtml" model="@Model.Comments" />
        </div>
    </div>
}
else
{
    <div class="text-center">
        <h3 class="display-4 fst-italic py-5">Не удалось получить данные</h3>
    </div>
}
