@using MyBlog.ViewModels;

@model ArticlesAllViewModel<ArticleUserViewModel>;

@if (Model != null)
{
    <div class="text-center">
        <h3 class="display-4 fst-italic py-3">Персональный блог</h3>
    </div>

    <div class="row">
        <div class="col-auto">
            <form asp-controller="User" asp-action="Edit" method="get">
                <button type="submit" class="btn btn-sm btn-outline-primary">Настройки</button>
            </form>
        </div>
        <br />
        <div class="col-auto">
            <form asp-controller="Article" asp-action="Create" method="get">
                <button type="submit" class="btn btn-sm btn-outline-primary">Добавить статью</button>
            </form>
        </div>
    </div>
    <br />
    <div class="">
        <h1 class="fst-italiс">Мои статьи</h1>
    </div>
    <br />
    <div class="flex-md-row mb-2 position-relative col-md-10">
        @if(Model.AllArticles.Count > 0)
        {
        @foreach (var article in @Model.AllArticles)
        {
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <div class="">
                        @foreach (var tag in article.Tags)
                        {
                            <span class="badge text-bg-primary">@tag.Name</span>
                        }
                    </div>
                    <br />
                    <div class="position-relative">
                        <strong class="d-inline-block mb-3 text-primary">@article.Article.Title</strong>
                        <strong class="d-inline-block mb-3 text-success float-end">"@article.Article.Published.ToLongDateString()"</strong>
                        <!--<strong class="d-inline-block mb-3 text-success float-end">"@article.Article.Modified.ToLongDateString()"</strong>-->
                    </div>
                    @if (article.Article.Content.Length >= 190)
                    {
                        <p class="card-text mb-auto">@Html.Raw(@article.Article.Content.Substring(0, 190).Insert(190, "..."))</p>
                    }
                    else
                    {
                        <p class="card-text mb-auto">@Html.Raw(@article.Article.Content)</p>
                    }
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-auto">
                        <form asp-controller="Article" asp-action="Edit" asp-route-id="@article.Article.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-outline-primary">Редактировать</button>
                        </form>
                    </div>
                    <div class="col-auto">
                        <form asp-controller="Article" asp-action="Delete" asp-route-id="@article.Article.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-outline-danger">Удалить</button>
                        </form>
                    </div>
                </div>
            </div>
            <br />
            }
        }
        else
        {
            <p>У вас нет ни одной статьи</p>
        }
    </div>
}
else
{
    <div class="text-center">
        <h3 class="display-4 fst-italic py-5">Не удалось получить данные</h3>
    </div>
}
