@model MyBlog.ViewModels.UsersAllViewModel;

@{
    ViewData["Title"] = "Сведения о пользователях";
}

<div class="text-center">
    <h3 class="display-4 fst-italic py-3">Сведения о пользователях</h3>
</div>
<div class="row mb-2">
    @if (Model != null)
    {
        @foreach (var user in @Model.Users)
        {
            <div class="col-md-3">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <div class="flex-md-row mb-2 position-relative">
                            @foreach (var role in user.Roles)
                            {
                                <span class="badge text-bg-primary">@role.Name</span>
                            }
                        </div>
                        <div class="row">
                            <strong class="d-inline-block text-primary">@user.FirstName @user.LastName</strong>
                        </div>
                        <div class="row">
                            <strong class="d-inline-block mb-3 text-success">"@user.Email"</strong>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-auto">
                                    <form asp-controller="Account" asp-action="Edit" asp-route-id="@user.id" method="post">
                                        <button type="submit" class="btn btn-sm btn-outline-primary">Редактировать</button>
                                    </form>
                                </div>
                                @if (User.IsInRole("Admin"))
                                {
                                    <div class="col-auto">
                                        <form asp-controller="Account" asp-action="Delete" asp-route-id="@user.id" method="post">
                                            <button type="submit" class="btn btn-sm btn-outline-danger">Удалить</button>
                                        </form>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div>
            <label> Пока не зарегистрировано ни одного пользователя.</label>
        </div>
    }
</div>